# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 016be1d53017ed97a63f4de9b5e027e80341a6250363e11f718ff74d59dd18cb85762b348577c4d0cbc3911cb4cc0f1c3a5eb5b24dc3a9cd0df2360e1013a6e2

test:
  secret_key_base: f0942c9b9ce4895d240087a107630711a6ffb95eaa556f558b34453137f7b38bfb089fac177a9192a0bc392edd3ea1415cdbc6c73d2b79998142b029e7313cac

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
