$red: #f00;
$white: #fff;
$lavender-purple: #a97aad;
$jungle-green: #26b99a;
$mountain-meadow: #169f85;
$twilight-blue: #f0ffff;
$gray-white: #f2f5f7;
$danube: #62a1d0;
$young-blue: #0af;
$orange: #f39c12;
$red-light: #d9534f;
$green: #218838;
$gray-old: #727284;
