$red: #f00;
$white: #fff;
$lavender-purple: #a97aad;
$jungle-green: #26b99a;
$mountain-meadow: #169f85;
$twilight-blue: #f0ffff;
$gray-white: #f2f5f7;
$danube: #62a1d0;
$young-blue: #0af;
$orange: #f39c12;
$red-light: #d9534f;
$green: #218838;
$gray-old: #727284;
$light-gray: #e7e7e7;
$black-light: #2c333e;
$black-tranparent: rgba(0, 0, 0, .5);
$gray-border: #ddd;
$silver: #ccc;
$black-transparent-075: rgba(0, 0, 0, .075);
$gorse: #f3f781;
$blue-tranparent: rgba(0, 140, 186, .5);
