@import 'colors';

.header-filter {
  background-image: url('recruit.framgia.jpg');
}

.avatar {
  border-radius: 50%;
  height: 30px;
  vertical-align: middle;
  width: 30px;
}

.logo-container .brand {
  margin-top: 19px;
  width: 109px;
}
