/*
*= require bootstrap_gem
*= require pnotify
*= require icheck
*= require sellers/gentelella.min
*/

@import 'colors';

.login-content {
  .remember-me {
    margin-bottom: 20px;
  }
}

.btn-login {
  background: $jungle-green;
  border: 1px solid $mountain-meadow;
  color: $twilight-blue;
  float: left;
  margin-left: 0 !important; // scss-lint:disable ImportantRule
  width: 350px;
}

.label-text {
  margin-bottom: 10px;
  margin-right: 360px;
  text-align: left;
  width: 145px;
}

.login_content form input[type=number],.login_content form select {
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
    -o-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
    box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}

.forgot h1:before {
  background: #7e7e7e;
  background: linear-gradient(right,#7e7e7e 0,#fff 100%);
  left: -15px;
}

.forgot h1:after {
  background: #7e7e7e;
  background: linear-gradient(left,#7e7e7e 0,#fff 100%);
  right: -15px;
}
