/*
*= require bootstrap_gem
*= require pnotify
*= require icheck
*= require sellers/gentelella.min
*/

@import 'colors';

.login-content {
  .remember-me {
    margin-bottom: 20px;
  }
}

.btn-login {
  background: $jungle-green;
  border: 1px solid $mountain-meadow;
  color: $twilight-blue;
  float: left;
  margin-left: 0 !important; // scss-lint:disable ImportantRule
  width: 350px;
}

.label-text {
  margin-bottom: 10px;
  margin-right: 360px;
  text-align: left;
  width: 145px;
}
