<div role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="title_left">
        <h3><%= t "sellers.products.new.title" %></h3>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <%= render "form", product: @product, categories: @categories %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
