@import 'colors';

td {
  vertical-align:middle !important;// scss-lint:disable ImportantRule

  img {
    border: 1px solid $gray-border;
    border-radius: 4px;
    height: 150px;
    object-fit: cover;
    padding: 5px;
    width: 222px;

    &:hover {
      box-shadow: 0 0 2px 1px $blue-tranparent;
    }
  }
}
